html, body {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.AK-page {
  width: 100%;
  position: absolute;
  z-index: 20;
}

.AK-container-main {
  
  position: absolute;
  top: 650px;
  left: 966px;


  background-color: white;
  /* height: 246px; */
  display: flex;
  width: 29.505%;
  flex-direction: column;
  border: 1px solid rgb(219, 218, 218);
}

.AK-upper-box {
  display: flex;
  height: 78.7%;
  padding-bottom: 4%;
}

.AK-lower-box {
  display: flex;
  height: 21.3%;
  font-family: opensans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  color: rgb(76, 76, 76);
  /* padding-left: 25px; */
  padding: 4% 4% 4% 8%;
  border-top: 1px solid rgb(219, 218, 218);
}

.AK-widget-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AK-trip-code {
  color: rgb(118, 118, 118);
  font-size: 12px;
  text-align: right;
  margin-top: 2%;
  margin-right: 2.4%;
  font-family: opensans, sans-serif;
}

.AK-container-pricing {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.AK-pricing-text {
  font-size: 15px;
  font-family: Futura-Med;
  color: rgb(118, 118, 118);
  margin-bottom: 3%;
}

.AK-price {
  margin-left: 7%;
}

.AK-price-no-wrap {
  width: 300px;
}

.AK-price-wrapper {
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.AK-msrp {
  margin-left: 11%;
  color: rgb(141, 140, 140);
}

.AK-msrp-hidden {
  visibility: hidden;
}

.AK-savings-text {
  font-size: 14px;
  font-family: Futura-Med;
  margin-bottom: 3px;
}

.AK-savings {
  margin-left: 5.5%;
  color: rgb(196, 8, 47);
  display: flex;
  flex-direction: row;
  font-family: Futura-Next;
}

.AK-savings-hidden {
  visibility: hidden;
}

.AK-currency1 {
  font-size: 21px;
  font-family: Futura-Next;
  color: rgb(76, 76, 76);
  margin-top: 4px;
}

.AK-currency2 {
  font-family: Futura-Next;
  font-size: 18px;
}

.AK-price-tag {
  height: 23px;
}

.AK-container-img {
  margin-top: 3px;
  margin-right: 2px;
}

.AK-container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2%;
  align-items: center;
}

.AK-button1 {
  border-radius: 25px;
  height: 50px;
  width: 42%;
  color: white;
  background-color: rgb(196, 8, 47);
  font-weight: bold;
  font-size: 14px;
  outline: none;
  font-family: Futura-Heavy;
}

.AK-button1:hover {
  cursor: pointer;
}

.AK-button2 {
  border-radius: 24px;
  height: 48px;
  width: 42%;
  color: rgb(196, 8, 47);
  border: 1.5px solid rgb(196, 8, 47);
  font-weight: bold;
  font-size: 14px;
  outline: none;
  font-family: Futura-Heavy;
}

.AK-button2:hover {
  background-color: rgb(196, 8, 47);
  color: white;
  cursor: pointer;
}

.AK-container-reviews {
  font-size: 14px;
  font-family: opensans, sans-serif;
  margin: 3% 0px 4.2% 8%;
  color: rgb(76, 76, 76);
  font-weight: 100;
  width: auto;
}

.AK-reviews {
  width: auto;
  border-bottom-color: rgb(225, 13, 57);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.AK-reviews:hover {
  cursor: pointer;
}

/* .AK-component-calendar {
  visibility: hidden;
  transition: visibility 1s;
}

.AK-component-calendar.AK-show {
  visibility: visible;
  transition: visibility 0.3s;
  transition: visibility 1s;
} */

.AK-container-calendar-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
  /* overflow-y: auto; */
}

.AK-top-bar {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgb(251, 251, 251);
  display: flex;
  flex-direction: row;
}

.AK-logo {
  margin: 13px 12px 9px 15px;
  width: 162px;
  height: 44px;
}

.AK-phone {
  margin-top: 25.4px;
  margin-left: 6.5px;
  width: 20px;
  height: 20px;
}

.AK-help {
  margin-left: 1.1%;
  margin-top: 13px;
  font-family: Futura-Heavy;
  color: rgb(76, 76, 76);
}

.AK-help-text {
  font-size: 12px;
  margin-top: 3.1%;
  margin-bottom: 3%;
  letter-spacing: 2.1px;
}

.AK-help-phone {
  font-size: 16px;
}

.AK-header {
  position: relative;
  margin-left: 20.5%;
  font-family: Futura-Next;
  color: rgb(76,76,76);
  margin-top: 23px;
  font-size: 23px;
}

.AK-return {
  color: rgb(76, 76, 76);
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 110px;
  height: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid #f2f2f2;
}

.AK-return:hover {
  cursor: pointer;
}

.AK-back-text {
  font-family: Futura-Heavy;
  font-size: 16px;
  margin-left: 2px;
}

.AK-X {
  margin-top: 0px;
  margin-right: 6px;
  height: 19px;
  width: 19px;
  opacity: 0.8;
}

.AK-container-scroll {
  margin-top: 55px;
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
}

.AK-middle-section {
  height: 130.5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(76, 76, 76);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.AK-step1 {
  align-self: center;
  font-family: Futura-Med;
  font-size: 15px;
  margin-top: 45px;
  margin-left: 5px;
}

.AK-select-dates-header {
  align-self: center;
  font-family: Futura-Next;
  font-size: 30px;
  margin-top: 4px;
  margin-left: 5px;
}

.AK-container-legend {
  display: flex;
  flex-direction: row;
  height: 65px;
  border-left: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 8.92% 0 9.25%;
  align-items: center;
}

.AK-key {
  font-family: Futura-Heavy;
  font-size: 15px;
  margin-left: 1.72%;
  margin-top: 0.4%;
  color: rgb(66, 66, 66);
}

.AK-tooltip1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 16.2%;
}

.AK-tooltip1:hover{
  cursor: pointer;
}

.AK-tooltip1 .AK-tooltiptext1 {
  font-family: opensans;
  font-size: 12px;
  visibility: hidden;
  width: 180px;
  background-color: white;
  color: rgb(76, 76, 76);
  text-align: center;
  padding: 10px 24px;
  border-radius: 8px;
  top: 130%;
  left: 50%;
  margin-left: -185px;
  position: absolute;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  z-index: 30;
}

.AK-tooltip1 .AK-tooltiptext1::before {
  content: " ";
  position: absolute;
  bottom: 102%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(230, 230, 230) transparent;
}

.AK-tooltip1 .AK-tooltiptext1::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.AK-tooltip1:hover .AK-tooltiptext1 {
  visibility: visible;
}

.AK-tooltip2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 12.6%;
}

.AK-tooltip2:hover{
  cursor: pointer;
}

.AK-tooltip2 .AK-tooltiptext2 {
  font-family: opensans;
  font-size: 12px;
  visibility: hidden;
  width: 180px;
  background-color: white;
  color: rgb(76, 76, 76);
  text-align: center;
  padding: 10px 24px;
  border-radius: 8px;
  top: 130%;
  left: 50%;
  margin-left: -166px;
  position: absolute;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  z-index: 30;
}

.AK-tooltip2 .AK-tooltiptext2::before {
  content: " ";
  position: absolute;
  bottom: 102%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(230, 230, 230) transparent;
}

.AK-tooltip2 .AK-tooltiptext2::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.AK-tooltip2:hover .AK-tooltiptext2 {
  visibility: visible;
}

.AK-tooltip3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 16.2%;
}

.AK-tooltip3:hover{
  cursor: pointer;
}

.AK-tooltip3 .AK-tooltiptext3 {
  font-family: opensans;
  font-size: 12px;
  visibility: hidden;
  width: 185px;
  background-color: white;
  color: rgb(76, 76, 76);
  text-align: center;
  padding: 10px 24px;
  border-radius: 8px;
  top: 130%;
  left: 50%;
  margin-left: -187px;
  position: absolute;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  z-index: 30;
}

.AK-tooltip3 .AK-tooltiptext3::before {
  content: " ";
  position: absolute;
  bottom: 101%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(230, 230, 230) transparent;
}

.AK-tooltip3 .AK-tooltiptext3::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.AK-tooltip3:hover .AK-tooltiptext3 {
  visibility: visible;
}

.AK-tooltip4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 140px;
}

.AK-tooltip4:hover{
  cursor: pointer;
}

.AK-tooltip4 .AK-tooltiptext4 {
  font-family: opensans;
  font-size: 12px;
  visibility: hidden;
  width: 185px;
  background-color: white;
  color: rgb(76, 76, 76);
  text-align: center;
  padding: 10px 24px;
  border-radius: 8px;
  top: 130%;
  left: 50%;
  margin-left: -165px;
  position: absolute;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  z-index: 30;
}

.AK-tooltip4 .AK-tooltiptext4::before {
  content: " ";
  position: absolute;
  bottom: 102%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(230, 230, 230) transparent;
}

.AK-tooltip4 .AK-tooltiptext4::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.AK-tooltip4:hover .AK-tooltiptext4 {
  visibility: visible;
}

.AK-legend-img {
  height: 24px;
  margin-left: 7%;
  align-self: center;
}

.AK-legend-txt {
  position: relative;
  font-family: opensans;
  font-size: 14px;
  align-self: center;
  color: rgb(68, 68, 68);
  margin-left: 3.5%;
  letter-spacing: 0.3px;
}

.AK-container-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: opensans;
  color: rgb(68, 68, 68);
  font-size: 12px;
  width: 16.35%;
  height: 100%;
  justify-self: flex-end;
  margin-left: auto;
  justify-content: center;
  border-left: 1px solid rgb(230, 230, 230);
}

.AK-container-calendar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  margin-left: 9%;
  margin-top: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.AK-container-calendar-icon:hover {
  cursor: pointer;
}

.AK-calendar-selected {
  border-bottom: 1.5px solid rgb(196, 1, 1);
  border-bottom-left-radius: 0px;
}

.AK-container-list-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.AK-container-list-icon:hover {
  cursor: pointer;
}

.AK-list-selected {
  border-bottom: 1.5px solid rgb(196, 1, 1);
  border-bottom-right-radius: 0px;
}

.AK-view-text {
  font-size: 14px;
}

.AK-view-icon {
  height: 27px;
  width: 27px;
  margin-bottom: 2px;
  margin-left: 1px;
}

.AK-container-carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 17px;
  height: 620px;
  padding-bottom: 15px;
}

.AK-container-left-button {
  width: 26px;
  height: 26px;
  align-self: center;
  margin: auto 2.58% 24.35% 4.82%;
  position: relative;
}

.AK-container-left-button:hover {
  cursor: pointer;
}

.AK-container-left-button-hidden {
  visibility: hidden;
}

.AK-left-button {
  width: 26px;
  height: 26px;
  opacity: 0.4;
}

.AK-left-button:hover {
  opacity: 1;
}

.AK-container-right-button {
  width: 26px;
  height: 26px;
  align-self: center;
  position: relative;
  margin: auto 0 24.35% 0.2%;
}

.AK-container-right-button:hover {
  cursor: pointer;
}

.AK-container-right-button-hidden {
  visibility: hidden;
}

.AK-right-button {
  width: 26px;
  height: 26px;
  opacity: 0.4;
}

.AK-right-button:hover {
  opacity: 1;
}

.AK-container-month {
  display: flex;
  flex-direction: column;
  width: 39.7%;
  margin-right: 2.4%;
  margin-top: 0.27%;
}

.AK-container-header-month {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: rgb(251, 251, 251);
  font-family: Futura-Heavy;
  font-size: 16px;
  color: rgb(76, 76, 76);
  border: 1px solid rgb(230, 230, 230);
  border-bottom: none;
}

.AK-text-month {
  justify-self: center;
  align-self: center;
  margin: auto;
}

.AK-container-weeks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  padding-bottom: 16px;
}

.AK-header-days {
  display: flex;
  flex-direction: row;
  height: 60px;
  font-family: Futura-Med;
  font-size: 15px;
  padding: 0 13px;
  justify-content: space-evenly;
  color: rgb(110, 109, 109);
}

.AK-container-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 100%;
}

.AK-day {
  position: relative;
}

.AK-container-dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 3%;
  justify-content: space-evenly;
}

.AK-container-date {
  height: 72px;
  width: 13.5%;
  background-color: rgb(251, 251, 251);
  margin-bottom: 0.78%;
  font-family: Futura-Heavy;
  font-size: 16px;
  color: rgb(76, 76, 76);
}

.AK-container-date-departure {
  height: 70px;
  width: 13.1%;
  background-color: rgb(251, 251, 251);
  margin-bottom: 0.78%;
  font-family: Futura-Heavy;
  font-size: 16px;
  color: rgb(76, 76, 76);
  border: 1px solid rgb(230, 230, 230);
}

.AK-container-date-departure:hover {
  cursor: pointer;
  border: 1px solid rgb(6, 117, 117);
  color: rgb(5, 65, 65);
  background-color: white;
}

.AK-date-blank {
  height: 72px;
  width: 13.5%;
  background-color: white;
  margin-bottom: 0.78%;
}

.AK-text-date {
  margin-top: 10px;
  margin-left: 6.5px;
  pointer-events: none;
}

.AK-date-pricing-discounted {
  font-family: opensans;
  font-size: 12px;
  color: rgb(173, 2, 36);
  margin-top: 10%;
  margin-left: 10%;
  pointer-events: none;
}

.AK-date-pricing {
  font-family: opensans;
  font-size: 12px;
  color: rgb(66, 66, 66);
  margin-top: 10%;
  margin-left: 10%;
  pointer-events: none;
}

/* .AK-container-date-travel-bottom-top {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.AK-container-date-travel-left {
  border-left: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.AK-container-date-travel-right {
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
} */

.AK-container-summary {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid rgb(230, 230, 230);
  width: 100%;
  padding-bottom: 80px;
}

.AK-container-header-summary {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 116px;
  justify-self: flex-start;
}

.AK-header-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  margin-right: 0.5%;
}

.AK-text1-summary {
  position: relative;
  height: auto;
  margin-top: 10%;
  font-family: Futura-Heavy;
  font-size: 15px;
  color: rgb(76, 76, 76)
}

.AK-text2-summary {
  position: relative;
  height: auto;
  font-family: Futura-Next;
  font-size: 30px;
  margin-top: 2%;
  color: rgb(66, 66, 66);
}

.AK-container-content-summary {
  width: 81.7%;
  align-self: center;
  height: auto;
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: auto;
  margin-right: 0.1%;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-left: 0.4%
}

.AK-container-start-end {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.AK-header-start-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Futura-Next;
  font-size: 22px;
  color: rgb(66, 66, 66);
  height: 19%;
  margin-left: 6%;
  height: 55px;
}

.AK-container-inner-start-end {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 93%;
}

.AK-icon-start-end {
  width: 6%;
  height: 31.7%;
  position: relative;
  margin: auto;
  margin-left: 5.2%;
  margin-top: 4.5%;
}

.AK-container-text-start-end {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.8%;
}

.AK-text1-start-end {
  font-family: Futura-Heavy;
  font-size: 14.5px;
  color: rgb(66, 66, 66);
  position: relative;
  margin-top: 3.8%;
}

.AK-text2-start-end {
  font-family: opensans;
  font-size: 16px;
  color: rgb(66, 66, 66);
  position: relative;
  margin-top: 1.2%;
  margin-bottom: 5%;
}

.AK-container-payment {
  position: relative;
  width: 50%;
  height: 450px;
  justify-self: flex-end;
  margin-left: auto;
}

.AK-large-widget-container-pricing {
  display: flex;
  flex-direction: row;
  margin-top: 33px;
}

.AK-large-widget-pricing-text1 {
  font-size: 16.5px;
  font-family: Futura-Med;
  color: rgb(160, 160, 160);
}

.AK-large-widget-pricing-text2 {
  font-size: 15px;
  font-family: Futura-Heavy;
  color: rgb(160, 160, 160);
  margin-bottom: 3px;
  
}

.AK-large-widget-price {
  margin-left: 31px;
}

.AK-large-widget-price-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  position: relative;
  display: flex;
}

.AK-large-widget-msrp {
  margin-left: 14%;
  color: rgb(160, 160, 160);
  align-self: flex-end;
  position: relative;
  margin-top: auto;
}

.AK-large-widget-savings-text {
  font-size: 15px;
  font-family: Futura-Heavy;
  margin-bottom: 3px;
}

.AK-large-widget-savings {
  position: relative;
  align-self: flex-end;
  margin-top: auto;
  margin-left: 10%;
  color: rgb(196, 8, 47);
  display: flex;
  flex-direction: row;
  font-family: Futura-Next;
}

.AK-large-widget-currency1 {
  font-size: 23px;
  font-family: Futura-Next;
  color: rgb(66, 66, 66);
  margin-top: 4px;
}

.AK-large-widget-currency2 {
  font-family: Futura-Next;
  font-size: 18px;
}

.AK-large-widget-price-tag {
  height: 30px;
}

.AK-large-widget-container-img {
  margin-top: 3px;
  margin-right: 3%;
}

.AK-large-widget-button1 {
  border-radius: 25px;
  height: 50px;
  width: 47%;
  color: white;
  background-color: rgb(196, 8, 47);
  font-weight: bold;
  font-size: 15px;
  outline: none;
  margin-top: 4%;
  font-family: Futura-Heavy;
}

.AK-large-widget-button1:hover {
  cursor: pointer;
  background-color: rgb(173, 2, 36);
}

.AK-large-widget-button2 {
  border-radius: 24px;
  height: 48px;
  width: 43%;
  color: rgb(196, 8, 47);
  border: 1.5px solid rgb(196, 8, 47);
  font-weight: bold;
  font-size: 15px;
  outline: none;
  margin-top: 4%;
  font-family: Futura-Heavy;
}

.AK-large-widget-button2:hover {
  background-color: rgb(173, 2, 36);
  color: white;
  cursor: pointer;
}

.AK-container-pitch {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 3%;
  padding-right: 3%;
  font-family: opensans;
}

.AK-container-pitch-text {
  display: flex;
  flex-direction: column;
  color: rgb(196, 1, 1);
  font-size: 16px;
  margin-bottom: 4%;
  font-family: Futura-Med;
}

.AK-container-pitch-options {
  color: rgb(99, 98, 98);
  font-size: 16px;
  margin-bottom: 4%;
  font-family: Futura-Med;
  opacity: 0.95;
}

.AK-container-pitch-notes {
  font-size: 14.5px;
  color: rgb(76, 76, 76);
}

.AK-container-call-us {
  display: flex;
  flex-direction: row;
}

.AK-phone-art {
  height: 19px;
  margin-right: 2%;
  margin-left: 0.5%;
}

.AK-phone-number {
  font-family: Futura-Next;
  opacity: 0.95;
}

.AK-pitch-text-notes {
  margin-bottom: 3.2%;
}

.AK-component-container-list {
  border: 1px solid rgb(230, 230, 230);
  height: 535px;
  margin-top: 21.03px;
  margin-bottom: 5.55%;
  width: 81.75%;
  margin-left: auto;
  margin-right: 8.9%;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.AK-header-list {
  width: 100%;
  height: 12.8%;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AK-text-header-list {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: Futura-Heavy;
  font-size: 16px;
  color: rgb(76, 76, 76);
}

.AK-scrollable-list {
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;
  overflow: auto;
  padding-top: 0.8%;
}

.AK-component-container-list-for-month {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 1.75%;
  padding-top: 1.71%;
  padding-right: 2.7%;
}

.AK-component-container-list-entry {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  width: auto;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 1%;
  padding-left: 1.85%;
  padding-right: 2.8%;
  background-color: rgb(251, 251, 251);
  border-radius: 3px;
}

.AK-component-container-list-entry:hover {
  cursor: pointer;
}

.AK-header-list-for-month {
  font-family: Futura-Heavy;
  font-size: 15px;
  color: rgb(76, 76, 76);
  margin-bottom: 1.1%;
}

.AK-list-checkbox {
  height: 18px;
  width: 18px;
  pointer-events: none;
}

.AK-checked {
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
}

.AK-text-list {
  font-family: opensans;
  font-size: 16px;
  color: rgb(76, 76, 76);
  margin-left: 0.7%;
  pointer-events: none;
}

.AK-price-list {
  position: relative;
  font-family: Futura-Next;
  font-size: 18px;
  color: rgb(196, 1, 1);
  justify-self: flex-end;
  margin-left: auto;
  pointer-events: none;
}

.AK-opaque-bg-quote {
  position: fixed;
  z-index: 40;
  background-color: black;
  opacity: 80%;
  height: 100%;
  width: 100%;
}

.AK-component-container-quote {
  position: fixed;
  z-index: 50;
  height: 100%;
  width: 62.5%;
  left: 18.75%;
  background-color: white;
  overflow: auto;
}

.AK-container-header-quote {
  position: fixed;
  width: 62.5%;
  z-index: 80;
  display: flex;
  flex-direction: row;
  height: 7.5%;
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid rgb(211, 211, 211);
  align-items: center;
  justify-content: center;
}

.AK-text-header-quote {
  font-family: Futura-Next;
  letter-spacing: 0.84px;
  font-size: 22.4px;
  color: rgb(76, 76, 76);
  position: relative;
  margin-left: 42.5%;
}

.AK-container-exit-quote {
  position: relative;
  height: 100%;
  background-color: white;
  justify-self: flex-end;
  margin-left: auto;
  /* margin-right: 15px; */
  padding-right: 7px;
  width: 7.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(240, 240, 240);
}

.AK-container-exit-quote:hover {
  cursor: pointer;
}

.AK-button-img-exit-quote {
  height: 19px;
  width: 19px;
  opacity: 0.8;
  pointer-events: none;
}

.AK-container-scrollable-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: auto;
  margin-top: 6.7%;
}

.AK-inner-container-scrollable-quote {
  padding-left: 0.6%;
}

.AK-container-image-quote {
  position: relative;
  width: 92%;
  height: 150px;
  margin-top: 3.32%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
}

.AK-image-quote {
  position: relative;
  height: 100%;
  margin-right: auto;
  justify-self: flex-end;
  width: auto;
  align-self: center;
}

.AK-container-text-image-quote {
  padding-top: 3.3%;
  padding-left: 2.4%;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom:1px solid rgb(230, 230, 230);
}

.AK-header-image-quote {
  font-family: Futura-Next;
  font-size: 18px;
  color: rgb(76, 76, 76);
}

.AK-text-image-quote {
  font-family: opensans;
  font-size: 14px;
  margin-top: 2%;
  color: rgb(66, 66, 66);
  line-height: 26px;
  width: 91%;
  overflow: auto;
}

.AK-container-select-date {
  position: relative;
  height: 80px;
  width: 92%;
  margin-top: 26px;
}

.AK-header-select-date {
  font-family: Futura-Next;
  font-size: 17px;
  color: rgb(76, 76, 76);
  margin-bottom: 17px;
}


.AK-container-dropdown-select-date {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.AK-container-selector-wrapper {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
}

.AK-selector-dropdown-select-date {
  width: 100%;
  position: relative;
  border-left: 1px solid rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: opensans;
  font-size: 14px;
  letter-spacing: 0.4;
  color: rgb(66, 66, 66);
  /* padding-left: 5%; */
  /* padding-top: 1.7%; */
  padding: auto 0 auto 60px;
  display: flex;
  align-items: center;
}

.AK-placeholder-select-date {
  margin-left: 43px;
}

.AK-selector-dropdown-select-date:hover {
  cursor: pointer;
}

.AK-button-dropdown-select-date {
  height: 100%;
  position: relative;
  justify-self: flex-end;
  margin-left: auto;
}

.AK-button-dropdown-select-date:hover {
  cursor: pointer;
}

.AK-list-dropdown-select-date {
  position: absolute;
  top: 50px;
  height: 300px;
  background-color: white;
  overflow-y: scroll;
  width: 93.8%;
  z-index: 60;
  border-left: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
}

.AK-container-header-month-dropdown {
  display: flex;
  align-items: center;
  height: 48px;
}

.AK-header-month-dropdown {
  font-family: Futura-Heavy;
  font-size: 16px;
  color: rgb(99, 98, 98);
  margin-left: 20px;
}

.AK-container-dropdown-date-entry {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 48px;
  padding-left: 5px;
}

.AK-container-dropdown-date-entry:hover {
  background-color: rgb(251, 251, 251);
  border-left: 5px solid rgb(196, 1, 1);
  padding-left: 0px;
}

.AK-button-dropdown-date-entry {
  position: relative;
  align-self: center;
  height: 18px;
  width: 18px;
  margin-left: 18px;
  pointer-events: none;
}

.AK-button-dropdown-date-entry2 {
  position: relative;
  align-self: center;
  height: 18px;
  width: 18px;
  margin-left: 23px;
  pointer-events: none;
}

.AK-text-dropdown-date-entry {
  position: relative;
  width: auto;
  margin-right: auto;
  margin-left: 13px;
  font-family: opensans;
  font-size: 14px;
  letter-spacing: 1;
  align-self: center;
  pointer-events: none;
}

.AK-dropdown-border {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.AK-container-quote-form {
  position: relative;
  border: 1px solid rgb(230, 230, 230);
  height: 590px;
  width: 91.8%;
  margin-top: 44px;
  margin-bottom: 20px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

.AK-header-required {
  height: 28px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: flex-end;
}

.AK-text-required {
  width: 60px;
  background-color: rgb(242, 242, 242);
  margin-left: auto;
  font-family: opensans;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.AK-form-inputs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 30px;
}

.AK-container-form-inputs {
  display: flex;
  flex-direction: column;
  font-family: opensans;
  font-size: 16px;
  padding: 0 25px;
}

.AK-container-label-input {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.AK-container-label-input-2 {
  width: 347px;
  position: relative;
  height: 59px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3670a9
}

.AK-form-labels {
  transition: all 300ms;
  position: absolute;
  justify-self: flex-end;
  margin-top: auto;
  top: 12px;
}

.AK-form-labels-phone {
  position: absolute;
  pointer-events: none;
  font-size: 10px;
  top: 4px;
}

.AK-input-form {
  width: 347px;
  height: 40px;
  font-size: 16px;
  font-family: opensans;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #3670a9;
  outline: none;
  justify-self: flex-end;
  margin-top: auto;
  
}

.AK-input-form-2 {
  width: 260px;
  height: 40px;
  font-size: 16px;
  font-family: opensans;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  justify-self: flex-end;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  border-bottom: none;
}

.AK-input-form-selected {
  border-bottom: 2px solid #3670a9
}

.AK-input-form-selected2 {
  border-bottom: 1px solid #3670a9
}

.AK-phone-number-wrapper-row {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-top: auto;
  width: 100%;
  position: relative;
}

.AK-container-area-code-selector {
  position: relative;
}

.AK-area-code-dropdown-selector {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5px;
  position: relative;
  height: 96%;
}

.AK-area-code-dropdown-selector:hover {
  cursor: pointer;
}

.AK-image-country {
  width: 16px;
  height: 11px;
  pointer-events: none;
}

.AK-number-country {
  width: auto;
  margin-left: 8px;
  font-family: opensans;
  pointer-events: none;
}

.AK-button-down {
  width: 10px;
  margin-left: 5px;
}

.AK-container-dropdown-country {
  display: flex;
  position: absolute;
  margin-top: 2px;
  width: 345px;
  border: 1px solid rgb(230, 230, 230);
  border-top: 1px solid #3670a9;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
}

.AK-container-option-country {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 331px;
  align-items: center;
  padding: 7px 5px;
}

.AK-container-option-country:hover {
  cursor: pointer;
}

.AK-text-country {
  font-family: opensans;
  width: 250px;
  justify-self: flex-end;
  margin-left: auto;
  pointer-events: none;
}

.AK-container-text-box {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AK-header-text-box {
  margin-left: 22px;
}

.AK-textarea-text-box {
  width: 94%;
  align-self: center;
  margin: auto;
  height: 70px;
  font-family: opensans;
  font-size: 16px;
  outline: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #3670a9;
  line-height: 30px;
  margin-top: 4px;
  resize: none;
}

.AK-footer-quote {
  background-color: rgb(251, 251, 251);
  border-top: 1px solid rgb(230, 230, 230);
  height: 70px;
  position: relative;
  justify-content: flex-end;
  margin-top: auto;
  font-family: opensans;
  font-size: 12px;
  padding: 20px 35px 40px 35px;
  line-height: 30px;
}

.AK-container-checked-options-quote {
  display: flex;
  flex-direction: column;
  font-family: opensans;
  font-size: 16px;
  padding: auto;
  justify-content: space-evenly;
  height: 100%;
}

.AK-row-checked-options-quote {
  display: flex;
  margin-left: 46px;
}

.AK-img-checked-options-quote {
  height: 20px;
  margin-right: 17px;
}

.AK-img-checked-options-quote:hover {
  cursor: pointer;
}

.AK-txt-checked-options-quote {
  margin-right: 169px;
}

.AK-container-links-footer-quote {
  display: flex;
}

.AK-link-footer-quote {
  margin-right: 20px;
}

.AK-link-footer-quote:hover {
  cursor: pointer;
}

.AK-container-submit-form {
  height: 71px;
  width: 100%;
  margin-bottom: 19px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.AK-button-submit {
  height: 51px;
  margin-left: auto;
  margin-right: 4%;
}

.AK-button-submit:hover {
  cursor: pointer;
}

@font-face {
  font-family: opensans;
  src: url(OpenSans-Light.ttf);
}

@font-face {
  font-family: GeosansLight;
  src: url(FontsFree-Net-GeosansLight-2.ttf);
}

@font-face {
  font-family: Futura-Next;
  src: url(unicode.futurab.ttf);
}

@font-face {
  font-family: Futura-Med;
  src: url(futura\ medium\ bt.ttf);
}

@font-face {
  font-family: Futura-Heavy;
  src: url(Futura\ Heavy\ font.ttf);
}