.container {
  height: 200px;
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid rgb(219, 218, 218);
}

.upper-box {
  display: flex;
  height: 77%;
}

.lower-box {
  display: flex;
  height: 23%;
  font-family: opensans, sans-serif;
  font-size: 13px;
  font-weight: 200;
  justify-content: flex-start;
  align-items: center;
  color: #4c4c4c;
  padding-left: 25px;
  border-top: 1px solid rgb(219, 218, 218);
}

.widget-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trip-code {
  color: rgb(118, 118, 118);
  font-size: 9.5px;
  text-align: right;
  margin-top: 7px;
  margin-right: 8px;
  font-family: opensans, sans-serif;
}

.container-pricing {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.pricing-text {
  font-size: 12px;
  font-family: GeosansLight;
  color: rgb(118, 118, 118);
}

.price {
  margin-left: 25px;
}

.msrp {
  margin-left: 25px;
  color: rgb(141, 140, 140);
}

.savings-text {
  font-size: 12px;
  font-family: Futura-Med;
  margin-bottom: 3px;
}

.savings {
  margin-left: 25px;
  color: rgb(196, 8, 47);
  display: flex;
  flex-direction: row;
  font-family: Futura-Next;
}

.currency {
  font-size: 16px;
  font-family: Futura-Next;
  color: rgb(99, 98, 98);
  margin-top: 4px;
}

.currency2 {
  font-family: Futura-Next;
  font-size: 14px;
}

.price-tag {
  height: 15px;
}

.container-img {
  margin-top: 3px;
  margin-right: 5px;
}

.AK-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.AK-button1 {
  border-radius: 20px;
  height: 40px;
  width: 42%;
  color: white;
  background-color: rgb(196, 8, 47);
  font-weight: bold;
  font-size: 12px;
}

.AK-button2 {
  border-radius: 20px;
  height: 40px;
  width: 42%;
  color: rgb(196, 8, 47);
  border: 1.5px solid rgb(196, 8, 47);
  font-weight: bold;
  font-size: 12px;
}

.AK-reviews {
  font-size: 11px;
  width: 47px;
  font-family: opensans, sans-serif;
  margin: 8px 0px 15px 32px;
  color: rgb(76, 76, 76);
  font-weight: 100;
  border-bottom-color: rgb(225, 13, 57);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

@font-face {
  font-family: opensans;
  src: url(OpenSans-Light.ttf);
}

@font-face {
  font-family: GeosansLight;
  src: url(FontsFree-Net-GeosansLight-2.ttf);
}

@font-face {
  font-family: Futura-Next;
  src: url(unicode.futurab.ttf);
}

@font-face {
  font-family: Futura-Med;
  src: url(futura\ medium\ bt.ttf);
}